/* google font import */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

html{
    scroll-behavior: smooth;
}

body{
    background-color: black;
}

.nav-link{
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    background: linear-gradient(94.75deg, #FFDE00 8.5%, #FFDE00 12.11%, #FFDE00 12.12%, #42F272 68.56%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}


ul{
    margin-right: 100px;
}

li{
    padding: 20px 20px;
}

.intouch{
    padding: 10px 20px;
    border: none;
    animation-name: backgroundColorPalette;
	animation-duration: 5s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
	animation-timing-function: linear;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

@keyframes backgroundColorPalette {
	0% {
		background: #5721bb;
	}
	25% {
		background: #275c3f;
	}
	50% {
		background: #3b6f33;
	}
	75% {
		background: #7f2e97;
	}
	100% {
		background: #c66853;
	}

    50%{
        background: #c05636;
    }
}

.head-text{
    padding-top: 10em;
    padding-bottom: 10em;
    background-image: url(/image/space.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
}


.col1{
    color: white;
}

.col11, .tech{
    background-image: url(/image/watergif.gif);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.col1 h3{
    font-family: 'Inter', sans-serif;
    font-weight: 700;
}

.col1 h1{
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 75px;
}

.button button{
    padding: 15px 50px;
    border: none;
    animation-name: backgroundColorPalette;
	animation-duration: 5s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
	animation-timing-function: linear;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    color: white;
    border-radius: 5px;
    cursor: pointer;

}

#about, .services{
    padding-top: 10em;
    padding-bottom: 10em;
}

.aboutus h4{
    margin-top: 50px;
    margin-bottom: 50px;
    color: rgb(136, 136, 136);
}

.aboutus p{
    color: rgb(217, 217, 217);
}

#about{
    color: white;
    display: flex;
    justify-content: center;
    
}

.mainrow{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    width: 80%;
}


.services{
    background-image: url(/image/stripe.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
}

.services h5{
    margin-bottom: 50px;
    color: rgb(136, 136, 136);
    text-decoration: underline;
}

.services p{
    font-size: 20px;
}

.servbutton{
   margin-top: 5em;
}

.tech{
    font-weight: 700;
}

.animation{
    position: relative;
    height: 50vh;
}

.animation video{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

.portfolio{
    background: black;
    background-repeat: no-repeat;
    background-size: cover;
}

#portfolio p{
    font-size: 15px;
    padding-top: 20px;
}

.colport h3{
    padding-top: 80px;
}

.support img{
    border-radius: 100em;
}

.support h5{
    margin-bottom: 50px;
    color: rgb(136, 136, 136);
    text-decoration: underline;
}

.support .mainrow1{
    display: flex;
    justify-content: center;
}

.getintouch{
    padding-top: 60px;
}

.getintouch p{
    color: white;
}

.getintouch h2{
    background: linear-gradient(94.75deg, #FFDE00 8.5%, #FFDE00 12.11%, #FFDE00 12.12%, #42F272 68.56%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    font-weight: 700;
    margin-bottom: 60px;
    border-bottom: 1px solid;
}

.footer p{
    background: linear-gradient(94.75deg, #FFDE00 8.5%, #FFDE00 12.11%, #FFDE00 12.12%, #42F272 68.56%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    font-weight: 700;
}

@media all and (max-width: 1015px){
    .navbar-toggler-icon{
        background-color: white;
    }
    .earth{
        margin-top: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .earth img{
        width: 15em;
    }

    .head-text{
        text-align: center;
    }


    #about .mainrow{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        text-align: center;
        width: 80%;
    }

    #about .about{
        margin-top: 50px;
    }

    #services, #portfolio, .support h5{
        text-align: center;
    }

    .support .mainrow1{
        flex-direction: column;
    }

    .port{
        display: flex;
        justify-content: center;
        
    }


}